
h1{
    border-bottom:10px solid red !important;
}

  
@media all and (min-width: 480px){ 
    #container{
        display:gird;
        grid-template-columns:150px 1fr;
    }
}
@media all and (min-width: 480px){ }


#container{
    display:grid;
    grid-template-columns: 150px 1fr;
}

body{font-family: 'Source Serif Pro', serif;}

